@import "src/components/ui/__variables";

.about-us {
  padding: 0px 150px;

  padding-bottom: 100px;

  @media screen and (max-width: $large-screen) {
    padding: 0px 70px;
  }

  @media screen and (max-width: $medium-screen) {
    padding: 30px 30px;
  }

  @media screen and (max-width: $small-screen) {
    padding: 20px 24px;
  }

  h1 {
    font-size: 42px;
    color: $primary-color;
    line-height: 65px;
    font-weight: 800;
    text-wrap: wrap;
    @media screen and (max-width: $medium-screen) {
      font-size: 32px;
      line-height: 32px;
    }

    @media screen and (max-width: $small-screen) {
      font-size: 20px;
      line-height: 32px;
    }
  }

  h3 {
  }

  padding-top: 60px;
  p {
    line-height: 30px;
    text-align: justify;
  }

  strong {
    font-weight: 600 !important;
    line-height: 30px;
  }
}
